<template name="RezRadio">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<h2 id="page_title" class="pull-left">
					Rez Radio
				</h2>
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		<p id="page_text">
			Future Rez Radio Code Here
		</p>
		<div id="rez_row" class="row">
			<div id="rez_column_1" class="col-md-3">
			</div>
			<div id="rez_column_2" class="col-md-9">
			</div>
		</div>
	</div>
</template>

