<template name="RezRadio">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<h2 id="page_title" class="pull-left">
					Rez Radio
				</h2>
			</div>
		</div>
		<div id="rez_row" class="row">
			<div id="rez_column_1" class="col-md-3">
				<h4 style="text-align:center">Genres</h4>
				<div class="col-block" style="padding:1em;">
				<ul class="nav nav-pills nav-stacked" role="tablist">
					<li role="presentation" class="active"><a href="#country" aria-controls="country" role="tab" data-toggle="pill">Country</a></li>
					<li role="presentation"><a href="#blues" aria-controls="blues" role="tab" data-toggle="pill">Blues</a></li>
					<li role="presentation"><a href="#rap" aria-controls="rap" role="tab" data-toggle="tab">Rap/Hip Hop</a></li>
					<li role="presentation"><a href="#rb" aria-controls="rb" role="tab" data-toggle="tab">R&B</a></li>
					<li role="presentation"><a href="#jazz" aria-controls="jazz" role="tab" data-toggle="tab">Jazz</a></li>
					<li role="presentation"><a href="#latin" aria-controls="latin" role="tab" data-toggle="tab">Latin</a></li>
					<li role="presentation"><a href="#mash" aria-controls="mash" role="tab" data-toggle="tab">DJ Mash</a></li>
					<li role="presentation"><a href="#reg" aria-controls="reg" role="tab" data-toggle="tab">Reggae/dancehall</a></li>
					<li role="presentation"><a href="#edm" aria-controls="edm" role="tab" data-toggle="tab">EDM</a></li>
					<li role="presentation"><a href="#pop" aria-controls="pop" role="tab" data-toggle="tab">Pop</a></li>
					<li role="presentation"><a href="#rock" aria-controls="rock" role="tab" data-toggle="tab">Rock/Metal</a></li>
					<li role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Other</a></li>
				</ul>
			</div><!-- /col-block -->
			</div>

			<div id="rez_column_2" class="col-md-9">
				<h4 style="text-align:center">Station</h4>
				<div style="padding:0 1em 1em;">
				<div class="tab-content" style="color:white;">
					<div role="tabpanel" class="tab-pane active" id="country">
						<h5 style="text-align:center">Country</h5>
						<div class="top-block col-block"> Player Info </div>
						<div class="bottom-block col-block"> Artist Info </div>
					</div><!-- /Country -->

					<div role="tabpanel" class="tab-pane" id="blues">
						<h5 style="text-align:center">Blues</h5>
						<div class="top-block col-block"> Player Info </div>
						<div class="bottom-block col-block"> Artist Info </div>
					</div>
					<div role="tabpanel" class="tab-pane" id="rap">
						<h5 style="text-align:center">Rap/Hip Hop</h5>
						<div class="top-block col-block"> Player Info </div>
						<div class="bottom-block col-block"> Artist Info </div>
					</div>
					<div role="tabpanel" class="tab-pane" id="rb">
						<h5 style="text-align:center">R&B</h5>
						<div class="top-block col-block"> Player Info </div>
						<div class="bottom-block col-block"> Artist Info </div>
					</div>
					<div role="tabpanel" class="tab-pane" id="jazz">
						<h5 style="text-align:center">Jazz</h5>
						<div class="top-block col-block"> Player Info </div>
						<div class="bottom-block col-block"> Artist Info </div>
					</div>
					<div role="tabpanel" class="tab-pane" id="latin">
						<h5 style="text-align:center">Latin</h5>
						<div class="top-block col-block"> Player Info </div>
						<div class="bottom-block col-block"> Artist Info </div>
					</div>
					<div role="tabpanel" class="tab-pane" id="mash">
						<h5 style="text-align:center">DJ Mash</h5>
						<div class="top-block col-block"> Player Info </div>
						<div class="bottom-block col-block"> Artist Info </div>
					</div>
					<div role="tabpanel" class="tab-pane" id="reg">...</div>
					<div role="tabpanel" class="tab-pane" id="edm">...</div>
					<div role="tabpanel" class="tab-pane" id="pop">...</div>
					<div role="tabpanel" class="tab-pane" id="rock">...</div>
					<div role="tabpanel" class="tab-pane" id="home">...</div>
				</div>
			</div><!-- /col-block -->
			</div>
		</div>
	</div>
</template>
