<template name="layout">
	{{#if currentUser}}
		{{> PrivateLayout}}
	{{else}}
		{{> PublicLayout}}
	{{/if}}
</template>

<template name="PublicLayout">
	<div id="wrap">
		<div class="navbar navbar-fixed-top navbar-default" role="navigation">
			<div class="navbar-container container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">
							Toggle navigation
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
					</button>
					<a class="navbar-brand" href="{{pathFor 'home_private'}}">
						<img id="logo" src="/images/insonic-logo.png">
					</a>
				</div>
				<div id="menu" class="collapse navbar-collapse">
					{{> PublicLayoutLeftMenu}}{{> PublicLayoutRightMenu}}
				</div>
			</div>
		</div>
		<div class="navbar-spacer">
		</div>
		{{> yield}}
	</div>
	<div id="footer">
		<div class="footer-container container">
			<p class="text-muted">
			</p>
		</div>
	</div>

</template>

<template name="PublicLayoutLeftMenu">
	<ul id="menu-items" class="nav navbar-nav">
		<li id="menu-item-simple" class="{{menuItemClass 'home_public'}}">
			<a href="{{pathFor 'home_public'}}">
				Home
			</a>
		</li>
	</ul>
</template>

<template name="PublicLayoutRightMenu">
	<ul id="menu-items" class="nav navbar-nav navbar-right">
		<li id="menu-item-simple" class="{{menuItemClass 'register'}}">
			<a href="{{pathFor 'register'}}">
				Register
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'login'}}">
			<a href="{{pathFor 'login'}}">
				Login
			</a>
		</li>
	</ul>
</template>

<template name="PrivateLayout">
	<div id="wrap">
		<div class="navbar navbar-fixed-top navbar-default" role="navigation">
			<div class="navbar-container container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">
							Toggle navigation
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
					</button>
					<a class="navbar-brand" href="{{pathFor 'home_private'}}">
						<img id="logo" src="/images/insonic-logo.png">
					</a>
				</div>
				<div id="menu" class="collapse navbar-collapse">
					{{> PrivateLayoutLeftMenu}}{{> PrivateLayoutRightMenu}}
				</div>
			</div>
		</div>
		<div class="navbar-spacer">
		</div>
		{{> autoformModals}}
		{{> yield}}
	</div>
	<div id="footer">
		<div class="footer-container container">
			<div class="navbar navbar-default navbar-fixed-bottom">
				<div class="container">
					<div class="col-md-6">{{> PrivateLayoutBottomLeftMenu}}</div>
					<div class="col-md-3 col-md-offset-2">{{> AudioPlayer}}</div>
				</div>
		  </div>
		</div>
	</div>

	<div class="modal" id="newSong" tabindex="-1" role="dialog" aria-labelledby="newSongLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<!--{{> quickForm collection="Songs" type="insert"}}-->
				<!--{{#autoForm id="songModal" type='insert' collection="Songs"}}
					{{> afFileUpload name="audioUpload" collection='Images'}}
					<button type="submit" class="btn btn-primary">Submit</button>
				{{ /autoForm }}-->

			</div>
		</div>
	</div><!-- /modal -->


</template>

<template name="PrivateLayoutLeftMenu">
	<ul id="menu-items" class="nav navbar-nav">
		<li id="menu-item-simple" class="{{menuItemClass 'home_private'}}">
			<a href="{{pathFor 'home_private'}}">
				Home
			</a>
		</li>

	</ul>
</template>

<template name="PrivateLayoutRightMenu">
	<ul id="menu-items" class="nav navbar-nav navbar-right">
		<li id="menu-item-simple" class="{{menuItemClass 'songs'}}">
			<a href="{{pathFor 'songs'}}">
				Songs  <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'messages'}}">
			<a href="{{pathFor 'messages'}}">
				Messages  <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'requests'}}">
			<a href="{{pathFor 'requests'}}">
				Requests  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
			</a>
		</li>
		<li id="menu-item-dropdown" class="dropdown ">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				Add New
				<b class="caret">
				</b>
			</a>
			<ul id="menu-items" class="dropdown-menu">
				<li class="active">
					{{#afModal class="btn btn-primary" collection="Songs" operation="insert" omitFields="author,ownerId,createdAt,likes"}}
					Song
					{{/afModal}}
				</li>
			</ul>
		</li>

		<li id="menu-item-simple" class="{{menuItemClass 'admin'}}">
			<a href="{{pathFor 'admin'}}">
				Admin
			</a>
		</li>
		<li id="menu-item-dropdown" class="dropdown ">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				{{userEmail}}
				<b class="caret">
				</b>
			</a>
			<ul id="menu-items" class="dropdown-menu">
				<li class="{{menuItemClass 'user_settings'}}">
					<a href="{{pathFor 'user_settings'}}">
						Settings
					</a>
				</li>
				<li class="{{menuItemClass 'logout'}}">
					<a href="{{pathFor 'logout'}}">
						Logout
					</a>
				</li>
			</ul>
		</li>
	</ul>
</template>

<template name="PrivateLayoutBottomLeftMenu">
	<ul id="menu-items" class="nav navbar-nav navbar-left">
		<li id="menu-item-simple" class="{{menuItemClass 'spotlight'}}">
			<a href="{{pathFor 'spotlight'}}">
				Spotlight
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'rez_radio'}}">
			<a href="{{pathFor 'rez_radio'}}">
				Rez Radio
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'ads'}}">
			<a href="{{pathFor 'ads'}}">
				Performance Ads
			</a>
		</li>
	</ul>
</template>

<template name="AudioPlayer">
<!-- OLD player Code<div class="player_container">
	<audio controls>
		<source src="{{url}}" type="audio/mpeg">
	</audio>
</div>-->


<div id="jquery_jplayer_1" class="jp-jplayer"></div>
<div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
	<div class="jp-type-playlist">
		<div class="jp-gui jp-interface">
			<div class="jp-controls">
				<button class="jp-previous" role="button" tabindex="0">previous</button>
				<button class="jp-play" role="button" tabindex="0">play</button>
				<button class="jp-next" role="button" tabindex="0">next</button>
				<button class="jp-stop" role="button" tabindex="0">stop</button>
			</div>
			<div class="jp-progress">
				<div class="jp-seek-bar">
					<div class="jp-play-bar"></div>
				</div>
			</div>
			<div class="jp-volume-controls">
				<button class="jp-mute" role="button" tabindex="0">mute</button>
				<button class="jp-volume-max" role="button" tabindex="0">max volume</button>
				<div class="jp-volume-bar">
					<div class="jp-volume-bar-value"></div>
				</div>
			</div>
			<div class="jp-time-holder">
				<div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
				<div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
			</div>
			<div class="jp-toggles">
				<button class="jp-repeat" role="button" tabindex="0">repeat</button>
				<button class="jp-shuffle" role="button" tabindex="0">shuffle</button>
			</div>
		</div>
		<div class="jp-playlist">
			<ul>
				<li>&nbsp;</li>
			</ul>
		</div>
		<div class="jp-no-solution">
			<span>Update Required</span>
			To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
		</div>
	</div>
</div>

</template>
