<template name="DashboardSongs">
    <div class="page-container container" id="content">
        <div class="row">
            <div class="col-md-12">
                {{> SongsViewDashboard}}
            </div>
        </div>
    </div>
</template>

<template name="SongsViewDashboard">
    <div id="my_songs">

        <div id="dataview" class="">
            <h2 id="component-title">
                My Songs
            </h2>

            <div class="pull-right">
                <form id="dataview-controls" class="form-inline">
                    <div id="dataview-controls-insert" class="form-group">
                        <!-- Toggle Button for Panel -->
                        <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#newMessageForm" aria-expanded="false" aria-controls="collapseExample">
                            <span class="fa fa-edit"></span> New Song
                        </button>
                        <!-- /Toggle Button for Panel -->

                        <button type="submit" id="dataview-insert-button" class="btn btn-success">
					<span class="fa fa-plus">
					</span>
                            Add new
                        </button>
                    </div>
                    <div id="dataview-controls-search">
                        {{#if isNotEmpty}}
                            <div id="dataview-controls-search-group" class="form-group">
                                <label class="sr-only" for="search">
                                    Search
                                </label>
                                <input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
                                <button type="button" id="dataview-search-button" class="btn btn-primary">
						<span class="fa fa-search">
						</span>
                                </button>
                            </div>
                        {{/if}}
                    </div>
                    <div id="dataview-controls-export" class="form-group">
                        {{#if isNotEmpty}}
                            {{#if isFound}}
                                <div>
                                </div>
                            {{else}}
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default" id="dataview-export-default">
                                        Export
                                    </button>
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span class="caret">
						</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="#" id="dataview-export-csv">
                                                Export to CSV
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" id="dataview-export-tsv">
                                                Export to TSV
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" id="dataview-export-json">
                                                Export to JSON
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            {{/if}}
                        {{/if}}
                    </div>
                </form>
            </div><!-- /pull-right -->

            <div class="song_insert_form">
                <div class="collapse" id="newMessageForm">
                    <div class="well well-sm">
                        {{#autoForm collection="Songs" id="insertSongForm" type="insert"}}
                            <fieldset>
                                <legend>Add New Song</legend>
                                {{> afQuickField name='title'}}
                                {{> afQuickField name='genre' type="select"}}
                                {{> afQuickField name='audioFileId' collection="Audios" class="audioInput"}}
                                {{> afQuickField name='coverImageId' collection="Images" class="fileInput"}}
                                <input type="file" name="realAudio" class="myFileInput">
                                <p> Audio Progress: {{> FS.UploadProgressBar bootstrap=true}}</p>
                                {{> afQuickField name='socialShare'}}
                            </fieldset>

                            <!--<p> Image Progress:
                            {{#each images}}
                                {{#unless this.isUploaded}}
                                    {{> FS.UploadProgressBar}}
                                {{/unless}}
                            {{/each}}
                        </p>-->
                            <button id="song_insert" type="submit" class="btn btn-primary">Insert</button>
                        {{/autoForm }}
                    </div>
                </div>
            </div>

            {{#if isNotEmpty}}
                {{#if isNotFound}}
                    <div class="alert alert-warning">
                        "{{searchString}}" not found.
                    </div>
                {{else}}
                    <div id="dataview-data">
                        {{#if viewAsTable}} {{> SongsViewTableDashboard}} {{/if}}
                    </div>
                {{/if}}
            {{else}}
                <div class="alert alert-info">
                    No songs :(
                </div>
            {{/if}}

        </div>
    </div>
</template>

<template name="SongsViewTableDashboard">
    <table id="dataview-table" class="table table-striped table-hover">
        <thead id="dataview-table-header">
        <tr id="dataview-table-header-row">
            <th class="th-sortable" data-sort="title">
                Song Title
            </th>
            <th class="th-sortable" data-sort="url">
                Song URL
            </th>
            <th class="th-sortable" data-sort="genre">
                Genre
            </th>
            <th class="th-sortable" data-sort="likes">
                IMG Url
            </th>
            <th>
                Favorite
            </th>
            <th>
                Share
            </th>
            <th>
                &nbsp;
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
        </thead>
        <tbody id="dataview-table-items">
        {{#each tableItems}} {{> SongsViewTableItemsDashboard}} {{/each}}
        </tbody>
    </table>
</template>

<template name="SongsViewTableItemsDashboard">
    <tr id="dataview-table-items-row">
        <td>
            {{title}}
        </td>
        <td>

            {{#with FS.GetFile "audios" this.audioFileId }}
               <a href="{{this.url}}">{{this.name}}</a>
                <p>{{> FS.DeleteButton class="btn btn-danger btn-xs"}}</p>
            {{/with}}

        </td>
        <td>
            {{genre}}
        </td>
        <td>

            {{#with FS.GetFile "images" this.coverImageId }}
                <img style="max-height:150px;" src="{{this.url}}">
                <p>file name:{{this.name}}</p>
                <p>{{> FS.DeleteButton class="btn btn-danger btn-xs"}}</p>
            {{/with}}
        </td>
        <td>
            {{> favoriteButton _id=_id}}
        </td>
        <td>
            {{>shareit}}
        </td>
        <td class="td-icon">
			<span id="edit-button" class="fa fa-pencil" title="Edit">
			</span>
        </td>
        <td class="td-icon">
			<span id="delete-button" class="fa fa-trash-o" title="Delete">
			</span>
        </td>
    </tr>
</template>
