<template name="Dashboard">
    <div id="content" class="dash-container">

			<div id="content_block">
			<div class="panel">
				<div class="panel-body">
					<div id="dash_menu" class="col-sm-3 col-md-2">
						{{> DashboardSideMenu}}
					</div>

					<div id="subcontent" class="col-sm-9 col-md-10">
						{{> yield region='DashboardSubcontent'}}
					</div>
				</div>
			</div>
			</div>

	</div>
</template>

<template name="DashboardSideMenu">
	<ul id="menu-items" class="nav nav-stacked nav-pills">
        <li id="menu-item-simple">
            <h4 class="list-group-item-heading"><img src="/images/insonic-logo.png" style="max-width:120px"></h4>
        </li>
        <li id="menu-item-simple" class="{{menuItemClass 'dashboard.home'}}">
            <a href="{{pathFor 'dashboard.home'}}">
                Console
            </a>
        </li>
        <li id="menu-item-simple" class="{{menuItemClass 'dashboard.songs'}}">
            <a href="{{pathFor 'dashboard.songs'}}">
                My Music
            </a>
        </li>
        <li id="menu-item-simple" class="{{menuItemClass 'dashboard.inbox'}}">
            <a href="{{pathFor 'dashboard.inbox'}}">
                Inbox
            </a>
        </li>
		<li id="menu-item-simple" class="{{menuItemClass 'dashboard.profile'}}">
			<a href="{{pathFor 'dashboard.profile'}}">
				Profile
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'dashboard.change_pass'}}">
			<a href="{{pathFor 'dashboard.change_pass'}}">
				Change password
			</a>
		</li>
	</ul>
</template>



