<template name="HomePrivate">
	<div class="page-container container" id="content">
		<div class="row">
			<div id="title_block" class="col-md-12">
				<h2 id="page_title" class="pull-left">
					Latest Music
				</h2>
				<div id="page_menu" class="pull-right">
                    <a class="btn btn-default to_dashboard" href="/dashboard">Go To Dashboard</a>
				</div>
			</div>
		</div>
        <div class="row">
            <div id="title_block" class="col-md-12">
			</div>
		</div>
	</div>
</template>

