<template name="DashboardHome">
    <div class="page-container container" id="content">
        <div class="row">
            <div id="title_block" class="col-md-12">
                <h2 id="page_title" class="pull-left">
                    Main Dashboard
                </h2>
                <div id="page_menu" class="pull-right">
                </div>
            </div>
        </div>
        <div class="row">
            <div id="content_block" class="col-md-12">
                Dashboard Content and Views
            </div>
        </div>
        </div>
</template>